body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #fffcff;
}
button {
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
.header button {
  background-color: #92a1d1;
}
.container {
  width: 770px;
}

.monthNav {
  display: flex;
  gap: 10px;
}

.monthSelect {
  display: flex;
  width: 200px;
  justify-content: center;
}

.weekdays {
  width: 100%;
  display: flex;
  color: #247ba0;
}
.weekdays div {
  width: 100px;
  padding: 10px;
}
.calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}
.newEvent,
.editEvent {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  padding: 3px;
  gap: 10px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 255px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

label {
  display: grid;
  gap: 5px;
  margin-bottom: 5px;
}

.text {
  color: #58bae4;
}

/* .input:required {
  border-color: #f44336;
} */

.newEventModal,
.editEventModal,
.deleteEventModal {
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#eventTitleInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
  border: 2px solid red;
}

.btnCancel {
  background-color: #d36c6c;
}
.btnSave {
  background-color: #92a1d1;
  margin-right: 10px;
}
#eventText {
  font-size: 14px;
}
.modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
/* modal */
/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;

  overflow-y: scroll;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
/* } */
/* 
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: relative;

  margin-left: auto;
  margin-right: auto;

  width: 100%;

  max-width: 450px;

  transition: transform 20ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}  */
